@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
body, html {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans Condensed', sans-serif;
}
/*Shared Styles*/

/*Container styles*/
.container {
	width: 60%;
	margin: 0 20%;
}
#side {
	width: 24%;
	float: left;
	height: 90vh;
	background-color: #2a4056;
	color: white;
	padding: 5vh 3%;
	overflow: hidden;
}
#main {
	width: 64%;
	height: 100vh;
	float: left;
	padding: 0% 3%;
	overflow: hidden;
}

.imgSection, .sideSection {
	height: 30vh;
}
/* Image styles */
.imgSection img {
	width: 80%;
	height: 80%;
	border-radius: 50%;
}

/* Text Styles */
 #side p {
 	margin: 10px;
}
#side a {
	text-decoration: none;
	color: white;
}
.title {
	width: auto;
	display: inline-block;
}
#side .title {
	border-bottom: 2px solid white;
}
#main .title {
	font-size: 1.5em;
	border-bottom: 5px solid #2a4056;
}

/* Main Styles */
#main .name {
	width: 100%;
	display: inline-block;
}

/* Skill slider */
.skills {
	width: 60%;
}
.skillContainer {
	margin-top: 5px;
	width: 100%;
	background-color: #ddd;
	height: 20px;
}
.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #2a4056;
}

.slider::-moz-range-thumb {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #2a4056;
}
/* Media querries */
@media only screen and (max-width: 600px) {
  .container {
	width: 100%;
	margin: 0;
  }
  #side {
  	width: 29%;
  }
  #main {
	width: 59%;
  }
  .slider {

  }
}
@media only screen and (max-height: 550px){

  #side {
  	height: 110vh;
  }
  #main {
	height: 110vh;
  }
  .imgSection, .sideSection {
  	height: 36vh;
  }
}
@media only screen and (max-height: 450px){

  #side {
  	height: 120vh;
  }
  #main {
	height: 120vh;
  }
  .imgSection, .sideSection {
  	height: 40vh;
  }
}
@media only screen and (min-height: 768px){
  .imgSection, .sideSection {
  	height: 231px;
  }
}
/* End Media querries*/